---
layout: default
---
<article class="post" style="--page-max: {{ page.width | default: '900px' }}">

  <header class="post-header">
    <div class="page-wrap">
      {%- if page.eyebrow and page.eyebrow != "" -%}
      <p class="eyebrow">{{ page.eyebrow | escape }}</p>
      {%- endif -%}
      <h1 class="post-title">{{ page.title | escape }}</h1>
      {%- if page.subtitle -%}
      <p class="post-subtitle">{{ page.subtitle | escape }}</p>
      {%- endif -%}
    </div>
  </header>

  <div class="page-wrap">
    <div class="post-content">
      {{ content }}
    </div>
  </div>

</article>
